<!-- Created 29/10/2023 -->
<!-- Tansactions page of Bank of Cupcake -->
<!-- Logo, Name -->

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Pay & Tansfer | Bank of Cupcake</title>

</head>

<body>
	<div>
	<left>
		<!--https://www.rawpixel.com/image/6550209/psd-sticker-black-illustration-->
		<img src="cupcake.jpeg" alt="Bank of Cupcake" align="middle">
		<h1>Bank of Cupcake</h1>
		<a href="main.html"><button>Back</button></a>
	</left>
	</div>

	<main>
		<h2>Transfer money</h2>

		<!-- When click submit, the form data will be sent to a page called "/action_page.php" -->
		<form action="main.html">
			<label for="re_accountID" title="Account number is 8 digits long.">Recipient's Account Number:</label><br>
			<input type="text" id="re_accountID" name="re_accountID" value=""><br><br>

			<label for="accountID" title="Your account number is 8 digits long.">Your Account Number:</label><br>
			<input type="text" id="accountID" name="accountID" value=""><br><br>

			<label for="amount">Amount:</label><br>
			<input type="text" id="amount" name="amount" value=""><br><br>

			<label for="date">Date (when):</label><br>
			<input type="date" id="date" name="date" value=""><br><br>

			<label for="other">Enter Other Payment Details/Recipient Reference:</label><br>
			<input type="text" id="other" name="other" value=""><br><br>

			<input type="submit" value="Submit">
		</form>

	</main>
</body>
</html>