<!-- Created 29/10/2023 -->
<!-- Help Center page of Bank of Cupcake -->
<!-- Logo, Name, Number, Email, Enquiry Form -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Help Centre | Bank of Cupcake</title>
</head>

<body>
	<div>
	<left>
		<!--https://www.rawpixel.com/image/6550209/psd-sticker-black-illustration-->
		<img src="{{ url_for('static', filename= 'images/cupcake.png')}}" alt="Bank of Cupcake" align="middle">
		<h1>Bank of Cupcake</h1>
		<a href="/main"><button>Back</button></a>
	</left>
	</div>

	<aside>
		<a href="{{ url_for('templates', filename= 'enquiry.html') }}"><button>Enquiry Form</button></a><br>
	</aside>

	<main>
		<h2 title="Call Us Anytime. We are contactable 24/7">Consumer Call Centre</h2>
		<h3>Telephone</h3>
		<p>+44(0)161 496 0564</p><br>
		<h3>Email</h3>
		<p>callcentre@cupcake.com</p>
	</main>
</body>
</html>