<!-- Created 28/10/2023 -->
<!-- Main page of Bank of Cupcake -->
<!-- Logo, Name, Tansfer, Customer Service -->

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Account | Bank of Cupcake</title>

</head>

<body>
	<div>
	<left>
		<!--https://www.rawpixel.com/image/6550209/psd-sticker-black-illustration-->
		<img src="cupcake.jpeg" alt="Bank of Cupcake" align="middle">
		<h1>Bank of Cupcake</h1>
		<a href="home.html"><button>Log Out</button></a>
	</left>
	</div>

	<aside>
		<a href="atm.html"><button>Pay & Tansfer</button></a><br>
		<a href="hc.html" title="Contact Us"><button>Help Centre</button></a>
	</aside>

	<main>
		<h2>My Accounts Overview</h2>
		<h3>Current/Savings/Deposits/Investment Account</h3>
		<p>Current Balance</p>
	</main>
</body>
</html>