<!-- Created 29/10/2023 -->
<!-- Thank you page (enquiry) of Bank of Cupcake -->
<!-- Logo, Name -->

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Enquiry Form | Bank of Cupcake</title>

</head>

<body>
	<div>
	<left>
		<!--https://www.rawpixel.com/image/6550209/psd-sticker-black-illustration-->
		<img src="{{ url_for('static', filename= 'images/cupcake.png')}}" alt="Bank of Cupcake" align="middle">
		<h1>Bank of Cupcake</h1>
		<a href="main.html"><button>Main</button></a>
	</left>
	</div>

	<main>
		<h2>Thank you for your enquiry. Our Customer Support agents will respond within 24 hours. You'll receive an update via SMS or email once an agent has replied.</h2>
	</main>
</body>
</html>